@charset "UTF-8";
/*
 * Главный файл стилей.
 * Все паршалы подключаются сюда.
 */
body {
  background-color: var(--bg-color-white);
  color: var(--first-color-text);
  font-family: var(--accent-font);
  font-style: normal;
  letter-spacing: 0.04em;
}

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*before,
*after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
}

a,
a:visited,
a:hover {
  text-decoration: none;
}

ul,
li {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

body {
  background-color: var(--bg-color-white);
  color: var(--first-color-text);
  font-family: var(--accent-font);
  font-style: normal;
  letter-spacing: 0.04em;
  font-size: 12px;
  font-weight: 500;
  line-height: 1.52;
}

:root {
  --accent-color: #d41443;
  --second-color: #ffa5ba;
  --first-color-text: #000000;
  --second-color-text: #907e82;
  --bg-color-white: #ffffff;
  --bg-color-pink: #fff5f6;
  --border-radius: 20px;
  --accent-font: DM Sans, sans-serif;
  --second-font: Titan One, cursive;
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  width: 320px;
}

@media screen and (min-width: 480px) {
  .container {
    max-width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
    padding-left: 34px;
    padding-right: 34px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
    padding-left: 72px;
    padding-right: 115px;
  }
}

.title {
  font-size: 34px;
  font-weight: 400;
  line-height: 1.15;
  font-family: var(--second-font);
  text-transform: uppercase;
  color: var(--accent-color);
}

@media screen and (min-width: 768px) {
  .title {
    font-size: 48px;
    font-weight: 400;
    line-height: 1.15;
  }
}

@media screen and (min-width: 1200px) {
  .title {
    font-size: 58px;
    font-weight: 400;
    line-height: 1.14;
    letter-spacing: 0.06em;
  }
}

.mobile-nav {
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transform: translateX(100vw);
          transform: translateX(100vw);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 480px;
  max-width: 100%;
  height: 100vh;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  padding-top: 60px;
  overflow-y: scroll;
  background-color: #e17992;
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-nav.is-open {
  -webkit-transform: translateX(0);
          transform: translateX(0);
  opacity: 1;
  visibility: visible;
  pointer-events: initial;
}

.mobile-nav__btn-buy {
  width: 186px;
  height: 44px;
  margin: 0 auto 19px auto;
  border-radius: 22px;
  background-color: var(--bg-color-white);
  color: var(--accent-color);
  font-size: 16px;
  font-weight: 600;
  line-height: 1.31;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-nav__btn-buy:hover, .mobile-nav__btn-buy:focus {
  background-color: #ecebeb;
  cursor: pointer;
}

.mobile-nav__close-btn {
  position: absolute;
  right: 34px;
  top: 23px;
  width: 20px;
}

.mobile-nav__close-btn:hover {
  cursor: pointer;
}

.mobile-nav__close-icon {
  width: 20px;
}

.mobile-nav__close-icon:before, .mobile-nav__close-icon:after {
  position: absolute;
  left: 15px;
  content: ' ';
  height: 20px;
  width: 2px;
  background-color: var(--bg-color-white);
}

.mobile-nav__close-icon:before {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.mobile-nav__close-icon:after {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.mobile-nav__menu-btn {
  position: absolute;
  right: 320px;
  top: 320px;
  width: 20px;
  height: 2px;
  background-color: var(--accent-color);
}

.mobile-nav__menu-btn:before, .mobile-nav__menu-btn:after {
  position: absolute;
  content: ' ';
  height: 2px;
  width: 20px;
  background-color: var(--accent-color);
}

.mobile-nav__menu-btn:before {
  bottom: 6px;
}

.mobile-nav__menu-btn:after {
  top: 6px;
}

.mobile-nav__list {
  display: block;
  width: 100%;
}

.mobile-nav__item {
  padding: 13px 0 13px 21px;
  border-top: 1px solid #e18298;
}

.mobile-nav__item:last-child {
  border-bottom: 1px solid #e18298;
}

.mobile-nav__link {
  color: var(--bg-color-white);
  font-size: 14px;
  font-weight: 600;
  line-height: 1.29;
}

.mobile-nav__link.mobile-nav__link--red {
  color: var(--accent-color);
}

.pretitle {
  font-size: 18px;
  font-weight: 400;
  line-height: 1.17;
  font-family: var(--second-font);
  text-transform: uppercase;
  color: var(--second-color);
}

@media screen and (min-width: 768px) {
  .pretitle {
    font-size: 26px;
    font-weight: 400;
    line-height: 1.15;
  }
}

@media screen and (min-width: 1200px) {
  .pretitle {
    font-size: 58px;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.06em;
  }
}

.about {
  background-color: var(--bg-color-pink);
  position: relative;
}

.about__pretitle {
  margin-bottom: 15px;
  text-align: center;
}

.about__title {
  margin-bottom: 26px;
  text-align: center;
}

.about__thumb__text {
  padding: 0 30px;
}

.about__text {
  margin-bottom: 47px;
  line-height: 1.62;
}

.about__text__grey {
  color: var(--second-color-text);
}

.about__btn {
  padding: 0 37px;
  height: 44px;
  border-radius: var(--border-radius);
  color: var(--accent-color);
  background-color: var(--bg-color-white);
  font-size: 14px;
  font-weight: 700;
  line-height: 1.3;
}

.about__btn:hover, .about__btn:focus {
  background-color: #ecebeb;
}

.btn__text {
  margin-right: 17px;
}

.about__images {
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) rotate(0deg);
          transform: translate(-50%, -50%) rotate(0deg);
}

.section--gallery {
  background-color: var(--bg-color-pink, pink);
}

.advantages {
  padding-top: 39px;
  padding-bottom: 97px;
  background-color: var(--bg-color-pink);
}

@media screen and (min-width: 768px) {
  .advantages {
    padding-top: 66px;
    padding-bottom: 140px;
  }
}

@media screen and (min-width: 1200px) {
  .advantages {
    padding-top: 39px;
    padding-bottom: 130px;
  }
}

.advantages-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media screen and (min-width: 768px) {
  .advantages-list {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

@media screen and (max-width: 767px) {
  .advantages-list__item:not(:last-child) {
    margin-bottom: 38px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .advantages-list__item:not(:last-child) {
    margin-right: 60px;
  }
}

@media screen and (min-width: 1200px) {
  .advantages-list__item:not(:last-child) {
    margin-right: 30px;
  }
}

.advantages-list__icon {
  margin-bottom: 16px;
}

@media screen and (min-width: 768px) {
  .advantages-list__icon {
    margin-top: 36px;
  }
}

@media screen and (min-width: 1200px) {
  .advantages-list__icon {
    margin-top: 40px;
  }
}

.icon {
  outline: 1px solid tomato;
}

.title {
  margin-bottom: 13px;
}

@media screen and (min-width: 1200px) {
  .title {
    margin-bottom: 15px;
  }
}

.advantages-list__text {
  max-width: 230;
  font-weight: 700;
  font-size: 12px;
  line-height: 1.7;
  color: var(--first-color-text);
}

@media screen and (min-width: 768px) {
  .advantages-list__text {
    font-size: 14px;
    line-height: 1.74;
  }
}

@media screen and (min-width: 1200px) {
  .advantages-list__text {
    font-size: 16px;
    line-height: 1.76;
  }
}

.footer {
  background-color: var(--bg-color-pink);
  max-width: 100%;
  max-height: auto;
}

.footer__title {
  font-family: var(--second-font);
  font-weight: 400;
  font-size: 18px;
  line-height: 1.16;
  text-transform: uppercase;
  color: var(--second-color);
}

.footer__big-title {
  font-family: var(--second-font);
  font-weight: 400;
  font-size: 34px;
  line-height: 1.14;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: var(--accent-color);
  margin-top: 17px;
}

.footer__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
}

.footer__item:not(:last-child) {
  margin-right: 28px;
}

.footer__social-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 50%;
  color: var(--bg-color-white);
  background: #FEA5BB;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  margin-bottom: 46px;
  margin-top: 43px;
}

.footer__social-link:hover, .footer__social-link:focus {
  background-color: var(--accent-color);
  color: var(--bg-color-white);
}

.footer__icon {
  fill: currentColor;
}

.footer__social-link:hover .footer__icon,
.footer__social-link:focus .footer__icon {
  fill: var(--bg-color-white);
}

.footer__contact {
  font-family: var(--accent-font1);
  font-weight: 700;
  font-size: 12px;
  line-height: 1.86;
  text-align: right;
  color: var(--first-color-text);
  border-bottom: 1px solid #E1E1E1;
  padding-bottom: 43px;
}

.footer__phone {
  font-family: var(--accent-font);
  font-weight: 700;
  font-size: 12px;
  line-height: 1.86;
  text-align: right;
  color: var(--first-color-text);
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer__phone:hover, .footer__phone:focus {
  color: var(--accent-color);
}

.footer__text {
  font-family: var(--accent-font);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.52;
  text-align: center;
  color: var(--second-color-text);
  margin-top: 22px;
}
/*# sourceMappingURL=main.css.map */