:root {
  --accent-color: #d41443;
  --second-color: #ffa5ba;
  --color-pink: #ffb8ca;
  --color-cream: #f0d1a5;
  --color-light-green: #c2e297;
  --first-color-text: #000000;
  --second-color-text: #907e82;
  --bg-color-white: #ffffff;
  --bg-color-pink: #fff5f6;
  --border-radius: 22px;
  --accent-font: DM Sans, sans-serif;
  --second-font: Titan One, cursive;
  /* Gallery animation color */
  --blackout-pink: rgba(255, 184, 202, 0.3);
  --blackout-light-green: rgba(194, 226, 151, 0.3);
  --blackout-cream: rgba(240, 209, 165, 0.4);
}

$transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
