:root {
  --accent-color: #d41443;
  --second-color: #ffa5ba;
  --first-color-text: #000000;
  --second-color-text: #907e82;
  --bg-color-white: #ffffff;
  --bg-color-pink: #fff5f6;
  --border-radius: #d41443;
  --accent-font: DM Sans, sans-serif;
  --second-font: Titan One, cursive;
}
