<section class="about">
    <div class=" about__container container">
        <p class="about__pretitle pretitle">tradition and love</p>
        <h2 class="about__title title">how it’s made?</h2>
        <div>
            <div>
                <picture>
                    <source media="(min-width: 1200px)" srcset="
                                                      ./images/about/cowDesktop.webp    1x,
                                                      ./images/about/cowDesktop2.webp 2x
                                                    " type="image/webp" />
                    <source media="(min-width: 1200px)" srcset="
                                                      ./images/about/cowDesktop.jpg 1x,
                                                      ./images/about/cowDesktop.jpg 2x
                                                    " />
                
                    <source media="(min-width: 768px)" srcset="
                                                      ./images/about/cowTablet.webp    1x,
                                                      ./images/about/cowTablet@2.webp 2x
                                                    " type="image/webp" />
                    <source media="(min-width: 768px)" srcset="
                                                      ./images/about/cowTablet.jpg    1x,
                                                      ./images/about/cowTablet@2.jpg 2x
                                                    " />
                    <source media="(max-width: 767px)" srcset="
                                                        ./images/about/cowPhone.webp    1x,
                                                        ./images/about/cowPhone@2.webp 2x
                                                                        " type="image/webp" />
                    <source media="(max-width: 767px)" srcset="
                                                        ./images/about/cowPhone.jpg    1x,
                                                        ./images/about/cowPhone@2.jpg 2x
                                                                        " />
                
                    <img src="#" alt='cow' class='about__images'>
                </picture>
            </div>
            <div class="about__thumb__text">
                <p class='about__text'>
                    Fusce ut velit laoreet, tempus arcu eu, molestie tortor. Nam vel justo cursus, faucibus lorem eget,
                    egestas eros.
                    Maecenas eleifend erat at justo fringilla.
                </p>
                <p class='about__text about__text__grey'>
                    Curabitur lacinia enim at ex blandit, vel pellentesque odio elementum. Mauris rhoncus orci in
                    imperdiet placerat.
                    Vestibulum euismod nisl suscipit ligula volutpat, a feugiat urna maximus. Cras massa nibh,
                    tincidunt.
                </p>
                <p class='about__text about__text__grey'>
                    Aliquam erat volutpat. Aenean accumsan.
                </p>
                <button class='about__btn'>
                    <span class='about__wrapper__btn'>
                        <span class="btn__text">Read more</span>
                        <svg class="btn__icon" width="6" height="8">
                            <use href="./images/sprite.svg#icon-arrow"></use>
                        </svg>
                    </span>
                </button>
                
            </div>
            </div>
    </div>
    <!--<img class="about__images" width='320' height='150' src='./images/about/aboutbg.png'>-->
</section>