<section id="made" class="about">
    
    <div class=" about__container container">
        <p class="about__pretitle pretitle">tradition and love</p>
        <h2 class="about__title title">how it’s made?</h2>
        <div class='wrapper__content'>
            <div class="wrapper__images">
                <picture>
                    <source media="(min-width: 1200px)" srcset="
                                                      ./images/about/cowDesktop.webp    1x,
                                                      ./images/about/cowDesktop@2x.webp 2x
                                                    " type="image/webp" />
                    <source media="(min-width: 1200px)" srcset="
                                                      ./images/about/cowDesktop.png 1x,
                                                      ./images/about/cowDesktop@2x.png 2x
                                                    " />
                
                    <source media="(min-width: 768px)" srcset="
                                                      ./images/about/cowTablet.webp    1x,
                                                      ./images/about/cowTablet@2x.webp 2x
                                                    " type="image/webp" />
                    <source media="(min-width: 768px)" srcset="
                                                      ./images/about/cowTablet.png    1x,
                                                      ./images/about/cowTablet@2x.png 2x
                                                    " />
                    <source media="(max-width: 767px)" srcset="
                                                        ./images/about/cowPhone.webp    1x,
                                                        ./images/about/cowPhone@2x.webp 2x
                                                                        " type="image/webp" />
                    <source media="(max-width: 767px)" srcset="
                                                        ./images/about/cowPhone.png    1x,
                                                        ./images/about/cowPhone@2x.png 2x
                                                                        " />
                
                    <img src="./images/about/cowDesktop.png" alt='cow' class='about__images'>
                </picture>
            </div>
            <div class="about__thumb__text">
                <p class='about__text'>
                    Fusce ut velit laoreet, tempus arcu eu, molestie tortor. Nam vel justo cursus, faucibus lorem eget,
                    egestas eros.
                    Maecenas eleifend erat at justo fringilla.
                </p>
                <p class='about__text about__text__grey'>
                    Curabitur lacinia enim at ex blandit, vel pellentesque odio elementum. Mauris rhoncus orci in
                    imperdiet placerat.
                    Vestibulum euismod nisl suscipit ligula volutpat, a feugiat urna maximus. Cras massa nibh,
                    tincidunt.
                </p>
                <p class='about__text about__text__grey'>
                    Aliquam erat volutpat. Aenean accumsan.
                </p>
                
                    <button  data-modal="#modal3" class="modal__trigger about__btn">
                    <span class='about__wrapper__btn'>
                        <span class="btn__text">Read more</span>
                        <svg class="btn__icon" width="6" height="8">
                            <use href="./images/sprite.svg#icon-arrow"></use>
                        </svg>
                    </span>
                </button>
                
                
            </div>
            </div>
    </div>
    <div id="modal3" class="modal modal__bg" role="dialog" aria-hidden="true">
        <div class="modal__dialog">
            <div class="modal__content">
                <h3>HOW IT’S MADE?</h3>
                <div class="wrapper__contentModal">
                
                    <img src='./images/about/modalCow2.png' width="200" height="200" alt="cow&milk" class='modal-img'>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae, voluptas maxime. Harum nisi cum enim officiis odio numquam iste ea explicabo. Tempore in laudantium inventore, recusandae aliquam deleniti architecto quisquam dolore sit asperiores eaque. Ut quia maiores odit nostrum optio itaque! Rerum repudiandae nisi recusandae nulla dolore omnis accusamus magni.
                </p>
                
                
                </div>
    
                <!-- modal close button -->
                <button  class="modal__close demo-close">
                    <svg class="" viewBox="0 0 24 24">
                        <path
                            d="M19 6.41l-1.41-1.41-5.59 5.59-5.59-5.59-1.41 1.41 5.59 5.59-5.59 5.59 1.41 1.41 5.59-5.59 5.59 5.59 1.41-1.41-5.59-5.59z" />
                        <path d="M0 0h24v24h-24z" fill="none" />
                    </svg>
                </button>
            </div>
        </div>
    </div>
    
    <!--<img class="about__images" width='320' height='150' src='./images/about/aboutbg.png'>-->
</section>
