<section class="contacts">
  <div class="container">
    <h2 class="visually-hidden">Contacts</h2>
    <ul class="contacts__list">
      <li class="contacts__item">
        <b class="contacts__pre-title">CAFE</b>
        <h3 class="contacts__title">Chicago</h3>
        <p>Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
        <h3 class="contacts__title">Monday - Friday</h3>
        <time class="contacts__time">06:00 AM - 10:00 PM</time>
        <h3 class="contacts__title">Saturday - Sunday</h3>
        <time class="contacts__time">08:00 AM - 16:00 PM</time>
        <address>
          <a class="contacts__link" href="tel:+61(0) 383 766 284">+61(0) 383 766 284 </a>
          <a class="contacts__link" href="mailito:noreply@envato.com">noreply@envato.com</a>
        </address>
      </li>
      <li class="contacts__item">
        <b class="contacts__pre-title">FOOD TRUCK</b>
        <h3 class="contacts__title">Los Angeles</h3>
        <p>Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
        <h3 class="contacts__title">Monday - Friday</h3>
        <time class="contacts__time">06:00 AM - 10:00 PM</time>
        <h3 class="contacts__title">Saturday - Sunday</h3>
        <time class="contacts__time">08:00 AM - 16:00 PM</time>
        <address>
          <a class="contacts__link" href="tel:+61(0) 383 766 284">+61(0) 383 766 284 </a>
          <a class="contacts__link" href="mailito:noreply@envato.com">noreply@envato.com</a>
        </address>
      </li>
      <li class="contacts__item">
        <b class="contacts__pre-title">CAFE</b>
        <h3 class="contacts__title">New York</h3>
        <p>Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
        <h3 class="contacts__title">Monday - Friday</h3>
        <time class="contacts__time">06:00 AM - 10:00 PM</time>
        <h3 class="contacts__title">Saturday - Sunday</h3>
        <time class="contacts__time">08:00 AM - 16:00 PM</time>
        <address>
          <a class="contacts__link" href="tel:+61(0) 383 766 284">+61(0) 383 766 284 </a>
          <a class="contacts__link" href="mailito:noreply@envato.com">noreply@envato.com</a>
        </address>
      </li>
    </ul>
    <button>Our Locations</button>
    <button>Franchise</button>
  </div>
</section>
