<section id="about" class="contacts">
  <div class="section__box">
    <div class="container container-contacts">
      <h2 class="visually-hidden">Contacts</h2>
      <ul class="contacts__list">
        <li class="contacts__item">
          <ul class="contacts__wrapper">
            <li><b class="contacts__pre-title contacts__pre-title--cream">CAFE</b></li>
            <li><p class="contacts__title">Chicago</p></li>
            <li>
              <p class="contacts__text">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
            </li>
          </ul>
          <ul class="contacts__wrapper">
            <li>
              <p class="contacts__title">Monday - Friday</p>
              <p class="contacts__time">06:00 AM - 10:00 PM</p>
            </li>
            <li>
              <p class="contacts__title">Saturday - Sunday</p>
              <p class="contacts__time">08:00 AM - 16:00 PM</p>
            </li>
          </ul>
          <ul class="contacts__wrapper">
            <li><a class="contacts__link" href="tel:+610-383-766-284"> +61(0) 383 766 284 </a></li>
            <li>
              <a class="contacts__link" href="mailto:noreply@envato.com"> noreply@envato.com</a>
            </li>
          </ul>
        </li>
        <li class="contacts__item">
          <ul class="contacts__wrapper">
            <li><b class="contacts__pre-title contacts__pre-title--green">FOOD TRUCK</b></li>
            <li><p class="contacts__title">Los Angeles</p></li>
            <li>
              <p class="contacts__text">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
            </li>
          </ul>
          <ul class="contacts__wrapper">
            <li>
              <p class="contacts__title">Monday - Friday</p>
              <p class="contacts__time">06:00 AM - 10:00 PM</p>
            </li>
            <li>
              <p class="contacts__title">Saturday - Sunday</p>
              <p class="contacts__time">08:00 AM - 16:00 PM</p>
            </li>
          </ul>
          <ul class="contacts__wrapper">
            <li><a class="contacts__link" href="tel:+610-383-766-284"> +61(0) 383 766 284 </a></li>
            <li>
              <a class="contacts__link" href="mailto:noreply@envato.com"> noreply@envato.com</a>
            </li>
          </ul>
        </li>
        <li class="contacts__item">
          <ul class="contacts__wrapper">
            <li><b class="contacts__pre-title contacts__pre-title--cream">CAFE</b></li>
            <li><p class="contacts__title">New York</p></li>
            <li>
              <p class="contacts__text">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
            </li>
          </ul>
          <ul class="contacts__wrapper">
            <li>
              <p class="contacts__title">Monday - Friday</p>
              <p class="contacts__time">06:00 AM - 10:00 PM</p>
            </li>
            <li>
              <p class="contacts__title">Saturday - Sunday</p>
              <p class="contacts__time">08:00 AM - 16:00 PM</p>
            </li>
          </ul>
          <ul class="contacts__wrapper">
            <li><a class="contacts__link" href="tel:+610-383-766-284"> +61(0) 383 766 284 </a></li>
            <li>
              <a class="contacts__link" href="mailto:noreply@envato.com"> noreply@envato.com</a>
            </li>
          </ul>
        </li>
      </ul>
      <div class="contacts__buttons-box">
        <button
          class="contacts__buttons contacts__buttons--pink"
          aria-expanded="false"
          aria-controls="location"
          data-open-location
        >
          Our Locations
          <svg class="contacts__icon" width="6px" height="8px">
            <use href="./images/sprite.svg#icon-vector-1arroov"></use>
          </svg>
        </button>
        <button class="contacts__buttons contacts__buttons--white" franchise-modal-open>
          Franchise
          <svg class="contacts__icon" width="6px" height="8px">
            <use href="./images/sprite.svg#icon-arrow"></use>
          </svg>
        </button>
      </div>
      </div>
  </div>
</section>
