<section class="section section--gallery">
  <div class="container container--grid">
      <h2>Test text</h2>
      <div class="gallery__thumb gallery__thumb--first">
          <img class="gallery__img">
      </div>
      <div class="gallery__thumb gallery__thumb--second">
          <img class="gallery__img">
      </div>
      <div class="gallery__thumb gallery__thumb--third">
          <img class="gallery__img">
      </div>
      <div class="gallery__thumb gallery__thumb--fourth">
          <img class="gallery__img">
      </div>
      <div class="gallery__thumb gallery__thumb--fiveth">
          <img class="gallery__img">
      </div>
      <div class="gallery__thumb gallery__thumb--sixth">
          <img class="gallery__img">
      </div>
      <div class="gallery__thumb gallery__thumb--seventh">
          <img class="gallery__img">
      </div>
      <div class="gallery__thumb gallery__thumb--eighth">
          <img class="gallery__img">
      </div>
      <div class="gallery__thumb gallery__thumb--nineth">
          <img class="gallery__img">
      </div>
      <div class="gallery__thumb gallery__thumb--tenth">
          <img class="gallery__img">
      </div>
</section>
