<section class="section--gallery">
  <div class="container--grid">
    <!-- Thumbs - grid -->

    <!-- ! 1 ! -->
    <div class="gallery__thumb gallery__thumb--first">
      <div class="gallery__item">
        <div class="gallery__animation">
          <picture>
            <source
              media="(min-width: 1200px)"
              srcset="./images/gallery/1/01x3.jpg"
              type="image/jpeg"
            />
            <source
              media="(min-width: 1200px)"
              srcset="./images/gallery/1/01x3.webp"
              type="image/webp"
            />
            <source
              media="(min-width: 768px)"
              srcset="./images/gallery/1/01x2.jpg"
              type="image/jpeg"
            />
            <source
              media="(min-width: 768px)"
              srcset="./images/gallery/1/01x2.webp"
              type="image/webp"
            />
            <source
              media="(min-width: 480px)"
              srcset="./images/gallery/1/01x1.jpg"
              type="image/jpeg"
            />
            <source
              media="(min-width: 480px)"
              srcset="./images/gallery/1/01x1.webp"
              type="image/webp"
            />
            <img
              class="gallery__image gallery__image--first"
              src="./images/gallery/1/01x1.jpg"
              alt="#"
            />
          </picture>
          <div class="gallery__blackout"></div>
        </div>
      </div>
    </div>

    <!-- ! 2 ! -->
    <div class="gallery__thumb gallery__thumb--second">
      <div class="gallery__item">
        <div class="gallery__animation">
          <picture>
            <source
              media="(min-width: 1200px)"
              srcset="./images/gallery/2/02x3.jpg"
              type="image/jpeg"
            />
            <source
              media="(min-width: 1200px)"
              srcset="./images/gallery/2/02x3.webp"
              type="image/webp"
            />
            <source
              media="(min-width: 768px)"
              srcset="./images/gallery/2/02x2.jpg"
              type="image/jpeg"
            />
            <source
              media="(min-width: 768px)"
              srcset="./images/gallery/2/02x2.webp"
              type="image/webp"
            />
            <source
              media="(min-width: 480px)"
              srcset="./images/gallery/2/02x1.jpg"
              type="image/jpeg"
            />
            <source
              media="(min-width: 480px)"
              srcset="./images/gallery/2/02x1.webp"
              type="image/webp"
            />
            <img
              class="gallery__image gallery__image--second"
              src="./images/gallery/2/02x1.jpg"
              alt="#"
            />
          </picture>
          <div class="gallery__blackout"></div>
        </div>
      </div>
    </div>

    <!-- ! 3 ! -->
    <div class="gallery__thumb gallery__thumb--third">
      <div class="gallery__item">
        <div class="gallery__animation">
          <picture>
            <source
              media="(min-width: 1200px)"
              srcset="./images/gallery/3/03x3.jpg"
              type="image/jpeg"
            />
            <source
              media="(min-width: 1200px)"
              srcset="./images/gallery/3/03x3.webp"
              type="image/webp"
            />
            <source
              media="(min-width: 768px)"
              srcset="./images/gallery/3/03x2.jpg"
              type="image/jpeg"
            />
            <source
              media="(min-width: 768px)"
              srcset="./images/gallery/3/03x2.webp"
              type="image/webp"
            />
            <source
              media="(min-width: 480px)"
              srcset="./images/gallery/3/03x1.jpg"
              type="image/jpeg"
            />
            <source
              media="(min-width: 480px)"
              srcset="./images/gallery/3/03x1.webp"
              type="image/webp"
            />
            <img class="gallery__image gallery__third" src="./images/gallery/3/03x1.jpg" alt="#" />
          </picture>
          <div class="gallery__blackout"></div>
        </div>
      </div>
    </div>

    <!-- ! 4 ! -->
    <div class="gallery__thumb gallery__thumb--fourth">
      <div class="gallery__item">
        <div class="gallery__animation">
          <picture>
            <source
              media="(min-width: 1200px)"
              srcset="./images/gallery/4/04x3.jpg"
              type="image/jpeg"
            />
            <source
              media="(min-width: 1200px)"
              srcset="./images/gallery/4/04x3.webp"
              type="image/webp"
            />
            <source
              media="(min-width: 768px)"
              srcset="./images/gallery/4/04x2.jpg"
              type="image/jpeg"
            />
            <source
              media="(min-width: 768px)"
              srcset="./images/gallery/4/04x2.webp"
              type="image/webp"
            />
            <source
              media="(min-width: 480px)"
              srcset="./images/gallery/4/04x1.jpg"
              type="image/jpeg"
            />
            <source
              media="(min-width: 480px)"
              srcset="./images/gallery/4/04x1.webp"
              type="image/webp"
            />
            <img
              class="gallery__image gallery__image--fourth"
              src="./images/gallery/4/04x1.jpg"
              alt="#"
            />
          </picture>
          <div class="gallery__blackout"></div>
        </div>
      </div>
    </div>

    <!-- ! 5 ! -->
    <div class="gallery__thumb gallery__thumb--fiveth">
      <div class="gallery__item">
        <div class="gallery__animation">
          <picture>
            <source
              media="(min-width: 1200px)"
              srcset="./images/gallery/5/05x3.jpg"
              type="image/jpeg"
            />
            <source
              media="(min-width: 1200px)"
              srcset="./images/gallery/5/05x3.webp"
              type="image/webp"
            />
            <source
              media="(min-width: 768px)"
              srcset="./images/gallery/5/05x2.jpg"
              type="image/jpeg"
            />
            <source
              media="(min-width: 768px)"
              srcset="./images/gallery/5/05x2.webp"
              type="image/webp"
            />
            <source
              media="(min-width: 480px)"
              srcset="./images/gallery/5/05x1.jpg"
              type="image/jpeg"
            />
            <source
              media="(min-width: 480px)"
              srcset="./images/gallery/5/05x1.webp"
              type="image/webp"
            />
            <img
              class="gallery__image gallery__image--fiveth"
              src="./images/gallery/5/05x1.jpg"
              alt="#"
            />
          </picture>
          <div class="gallery__blackout"></div>
        </div>
      </div>
    </div>

    <!-- ! 6 ! -->
    <div class="gallery__thumb gallery__thumb--sixth">
      <div class="gallery__item">
        <div class="gallery__animation">
          <picture>
            <source
              media="(min-width: 1200px)"
              srcset="./images/gallery/6/06x3.jpg"
              type="image/jpeg"
            />
            <source
              media="(min-width: 1200px)"
              srcset="./images/gallery/6/06x3.webp"
              type="image/webp"
            />
            <source
              media="(min-width: 768px)"
              srcset="./images/gallery/6/06x2.jpg"
              type="image/jpeg"
            />
            <source
              media="(min-width: 768px)"
              srcset="./images/gallery/6/06x2.webp"
              type="image/webp"
            />
            <source
              media="(min-width: 480px)"
              srcset="./images/gallery/6/06x1.jpg"
              type="image/jpeg"
            />
            <source
              media="(min-width: 480px)"
              srcset="./images/gallery/6/06x1.webp"
              type="image/webp"
            />
            <img
              class="gallery__image gallery__image--sixth"
              src="./images/gallery/6/06x1.jpg"
              alt="#"
            />
          </picture>
          <div class="gallery__blackout"></div>
        </div>
      </div>
    </div>

    <!-- ! 7 ! -->
    <div class="gallery__thumb gallery__thumb--seventh">
      <div class="gallery__item">
        <div class="gallery__animation">
          <picture>
            <source
              media="(min-width: 1200px)"
              srcset="./images/gallery/7/07x3.jpg"
              type="image/jpeg"
            />
            <source
              media="(min-width: 1200px)"
              srcset="./images/gallery/7/07x3.webp"
              type="image/webp"
            />
            <source
              media="(min-width: 768px)"
              srcset="./images/gallery/7/07x2.jpg"
              type="image/jpeg"
            />
            <source
              media="(min-width: 768px)"
              srcset="./images/gallery/7/07x2.webp"
              type="image/webp"
            />
            <source
              media="(min-width: 480px)"
              srcset="./images/gallery/7/07x1.jpg"
              type="image/jpeg"
            />
            <source
              media="(min-width: 480px)"
              srcset="./images/gallery/7/07x1.webp"
              type="image/webp"
            />
            <img
              class="gallery__image gallery__image--seventh"
              src="./images/gallery/7/07x1.jpg"
              alt="#"
            />
          </picture>
          <div class="gallery__blackout"></div>
        </div>
      </div>
    </div>

    <!-- ! 8 ! -->
    <div class="gallery__thumb gallery__thumb--eighth">
      <div class="gallery__item">
        <div class="gallery__animation">
          <picture>
            <source
              media="(min-width: 1200px)"
              srcset="./images/gallery/8/08x3.jpg"
              type="image/jpeg"
            />
            <source
              media="(min-width: 1200px)"
              srcset="./images/gallery/8/08x3.webp"
              type="image/webp"
            />
            <source
              media="(min-width: 768px)"
              srcset="./images/gallery/8/08x2.jpg"
              type="image/jpeg"
            />
            <source
              media="(min-width: 768px)"
              srcset="./images/gallery/8/08x2.webp"
              type="image/webp"
            />
            <source
              media="(min-width: 480px)"
              srcset="./images/gallery/8/08x1.jpg"
              type="image/jpeg"
            />
            <source
              media="(min-width: 480px)"
              srcset="./images/gallery/8/08x1.webp"
              type="image/webp"
            />
            <img
              class="gallery__image gallery__image--eighth"
              src="./images/gallery/8/08x1.jpg"
              alt="#"
            />
          </picture>
          <div class="gallery__blackout"></div>
        </div>
      </div>
    </div>

    <!-- ! 9 ! -->
    <div class="gallery__thumb gallery__thumb--nineth">
      <div class="gallery__item">
        <div class="gallery__animation">
          <picture>
            <source
              media="(min-width: 1200px)"
              srcset="./images/gallery/9/09x3.jpg"
              type="image/jpeg"
            />
            <source
              media="(min-width: 1200px)"
              srcset="./images/gallery/9/09x3.webp"
              type="image/webp"
            />
            <source
              media="(min-width: 768px)"
              srcset="./images/gallery/9/09x2.jpg"
              type="image/jpeg"
            />
            <source
              media="(min-width: 768px)"
              srcset="./images/gallery/9/09x2.webp"
              type="image/webp"
            />
            <source
              media="(min-width: 480px)"
              srcset="./images/gallery/9/09x1.jpg"
              type="image/jpeg"
            />
            <source
              media="(min-width: 480px)"
              srcset="./images/gallery/9/09x1.webp"
              type="image/webp"
            />
            <img
              class="gallery__image gallery__image--nineth"
              src="./images/gallery/9/09x1.jpg"
              alt="#"
            />
          </picture>
          <div class="gallery__blackout"></div>
        </div>
      </div>
    </div>

    <!-- ! 10 ! -->
    <div class="gallery__thumb gallery__thumb--tenth">
      <div class="gallery__item">
        <div class="gallery__animation">
          <picture>
            <source
              media="(min-width: 1200px)"
              srcset="./images/gallery/10/10x3.jpg"
              type="image/jpeg"
            />
            <source
              media="(min-width: 1200px)"
              srcset="./images/gallery/10/10x3.webp"
              type="image/webp"
            />
            <source
              media="(min-width: 768px)"
              srcset="./images/gallery/10/10x2.jpg"
              type="image/jpeg"
            />
            <source
              media="(min-width: 768px)"
              srcset="./images/gallery/10/10x2.webp"
              type="image/webp"
            />
            <source
              media="(min-width: 480px)"
              srcset="./images/gallery/10/10x1.jpg"
              type="image/jpeg"
            />
            <source
              media="(min-width: 480px)"
              srcset="./images/gallery/10/10x1.webp"
              type="image/webp"
            />
            <img
              class="gallery__image gallery__image--tenth"
              src="./images/gallery/10/10x1.jpg"
              alt="#"
            />
          </picture>
          <div class="gallery__blackout"></div>
        </div>
      </div>
    </div>

    <!-- * /container--grid-->
  </div>
</section>
