<header id="header" class="header">
  <div class="container header__cont">    
    <div id="header-btn-cont" data-wind class="header__menu-btn-cont">
      <button
        aria-expanded="false"
        aria-controls="menu-container"
        data-menu-button
        type="button"
        class="mobile-nav__menu-btn"
      >
        <span class="mobile-nav__menu-icon"></span>
        <span class="mobile-nav__close-icon"></span>
      </button>
    </div>
    <div data-wind class="header__cont-rel">
      <div class="circle"></div>
      <div class="header__picture-cont">
        <picture>
          <source
            media="(min-width: 1200px)"
            srcset="
              ./images/hero/icecream-hero-deskt-webp.webp    1x,
              ./images/hero/icecream-hero-deskt-webp@2x.webp 2x
            "
            type="image/webp"
          />

          <source
            media="(min-width: 1200px)"
            srcset="
              ./images/hero/icecream-hero-deskt-png.png    1x,
              ./images/hero/icecream-hero-deskt-png@2x.png 2x
            "
          />
          <source
            media="(min-width: 768px)"
            srcset="
              ./images/hero/icecream-hero-tablet-webp.webp    1x,
              ./images/hero/icecream-hero-tablet-webp@2x.webp 2x
            "
            type="image/webp"
          />

          <source
            media="(min-width: 768px)"
            srcset="
              ./images/hero/icecream-hero-tablet-png.png    1x,
              ./images/hero/icecream-hero-tablet-png@2x.png 2x
            "
          />

          <source
            media="(max-width: 767px)"
            srcset="
              ./images/hero/icecream-hero-mobile-png.png    1x,
              ./images/hero/icecream-hero-mobile-png@2x.png 2x
            "
            type="image/webp"
          />

          <source
            media="(max-width: 767px)"
            srcset="
              ./images/hero/icecream-hero-mobile-webp.webp    1x,
              ./images/hero/icecream-hero-mobile-webp@2x.webp 2x
            "
          />

          <img src="#" alt="icecream" />
        </picture>
      </div>

      <div class="header__milk-cont">
        <picture>
          <source media="(min-width: 1200px)" srcset="
                    ./images/hero/milk-hero-deskt-webp.webp    1x,
                    ./images/hero/milk-hero-deskt-webp@2x.webp 2x
                  " type="image/webp" />
      
          <source media="(min-width: 1200px)" srcset="
                    ./images/hero/milk-hero-deskt-png.png    1x,
                    ./images/hero/milk-hero-deskt-png@2x.png 2x
                  " />
          <source media="(min-width: 768px)" srcset="
                    ./images/hero/milk-hero-tablet-webp.webp    1x,
                    ./images/hero/milk-hero-tablet-webp@2x.webp 2x
                  " type="image/webp" />
      
          <source media="(min-width: 768px)" srcset="
                    ./images/hero/milk-hero-tablet-png.png    1x,
                    ./images/hero/milk-hero-tablet-png@2x.png 2x
                  " />      
          
      
          <img src="#" alt="milk" />
        </picture>        
      </div>
      
      <div class="header__tasty-cont">
        <picture>
          <source media="(min-width: 1200px)" srcset="
                          ./images/hero/tasty-hero-deskt-webp.webp    1x,
                          ./images/hero/tasty-hero-deskt-webp@2x.webp 2x
                        " type="image/webp" />
      
          <source media="(min-width: 1200px)" srcset="
                          ./images/hero/tasty-hero-deskt-png.png    1x,
                          ./images/hero/tasty-hero-deskt-png@2x.png 2x
                        " />
          <source media="(min-width: 768px)" srcset="
                          ./images/hero/tasty-hero-tablet-webp.webp    1x,
                          ./images/hero/tasty-hero-tablet-webp@2x.webp 2x
                        " type="image/webp" />
      
          <source media="(min-width: 768px)" srcset="
                          ./images/hero/tasty-hero-tablet-png.png    1x,
                          ./images/hero/tasty-hero-tablet-png@2x.png 2x
                        " />
      
      
          <img src="#" alt="milk" />
        </picture>
      </div>

      <div class="header__numbers-cont">
        <p class="header__number">16</p>
        <p class="header__number-text">cafes</p>
        <p class="header__number">23</p>
        <p class="header__number-text">fuud trucks</p>
      </div>

      <nav>
        <div class="header__logo-cont">
          <picture>
            <source
              
              srcset="
                ./images/hero/logo-mobile-webp.webp    1x,
                ./images/hero/logo-mobile-webp@2x.webp 2x
              "
              type="image/webp"
            />

            <source
              media=""
              srcset="./images/hero/logo-mobile-png.png 1x, ./images/hero/logo-mobile-png@2x.png 2x"
            />
            <img class="header__logo" src="#" alt="LOGO" />
          </picture>
        </div>

        <ul class="nav__list">
          <li class="nav__item">
            <a href="#header" class="nav__link link--red">Home</a>
          </li>
          <li class="nav__item"><a href="#about" class="nav__link">About us</a></li>
          <li class="nav__item"><a href="#made" class="nav__link">How it’s made?</a></li>
          <li class="nav__item"><a href="#products" class="nav__link">Our products</a></li>
          <li class="nav__item"><a href="#contacts" class="nav__link">Contact</a></li>
        </ul>

        <button data-modal-open  type="button" class="mobile-nav__btn-buy header__btn-buy">          
          Buy now
           <svg class="btn__icon-header" width="8" height="10">
             <use href="./images/sprite.svg#icon-arrow"></use>
           </svg>                
        </button>
      </nav>
      
      <h1 class="header__title">
        Ice cream made with <span class="header__title--bigger">passion</span>
      </h1>
      <div class="header__btn-cont">
        <a class="header__btn header__btn--red" href="#products">Products</a>
        <a class="header__btn header__btn--white" href="#made">How it’s made?</a>
      </div>
      <p id="card-container" data-card class="header__text ">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et</p>
        <button 
        aria-expanded="false"
        aria-controls="card-container"        
        type="button"
        data-card-button class="header_link-svg">
          <svg class="header__arrow-svg">
            <use href="./images/sprite.svg#icon-arrow-right"></use>
          </svg> 
        </button>    
      
    </div>  
    
  </div>
  
  
</header>
