<header>
    <div class="container">
        <nav>
            <div class="mobile-nav">
                <button data-modal-open type="button" class="mobile-nav__btn-buy">Buy now</button>
                <ul class="mobile-nav__list">
                    <li class="mobile-nav__item"><a href="" class="mobile-nav__link mobile-nav__link--red">Home</a></li>
                    <li class="mobile-nav__item"><a href="" class="mobile-nav__link">About us</a></li>
                    <li class="mobile-nav__item"><a href="" class="mobile-nav__link">How it’s made?</a></li>
                    <li class="mobile-nav__item"><a href="" class="mobile-nav__link">Our products</a></li>
                    <li class="mobile-nav__item"><a href="" class="mobile-nav__link">Contact</a></li>
                </ul>
                <button data-menu-button type="button" class="mobile-nav__close-btn">
                    <span class="mobile-nav__close-icon"></span>
                </button>     
           
            </div>
            <!-- <button data-menu-button type="button" class="mobile-nav__close-btn">
                <span class="mobile-nav__menu-btn"></span>
            </button> -->
            
        </nav>
    </div>
</header>