<div data-location  class="location-modal is-opened" >
    <div class="location-modal__container">
        <h1 class="location-modal__title">Our locations</h1>
        <h2 class="location-modal__name">Cafe</h2>
        <div class="location-modal__content">
            <p class="city">Chicago</p>
            <ul class="location-modal__list">
                <li class="location-modal__item">
                    <a target="blank" href="https://www.google.com.ua/maps/@41.8784684,-87.6284792,18.85z?hl=ru" class="location-modal__link">
                        230 S State St, Chicago, IL 60604,
                    </a>
                </li>
                <li class="location-modal__item">
                    <p class="location-modal__contacts">Contats</p>
                </li>
                <li class="location-modal__item">
                    <address class="contacts__wrapper location-modal__info">
                        <a class="contacts__link position__contact" href="tel:+610-383-766-284"> +61(0) 383 766 284 </a>
                        <a class="contacts__link position__contact" target="blank" href="mailito:noreply@envato.com"> noreply@envato.com</a>
                    </address>
                </li>
            </ul>
        </div>
        <div class="location-modal__content">
            <p class="city">New York</p>
            <ul class="location-modal__list">
                <li class="location-modal__item">
                    <a href="https://inlnk.ru/8429o" target="blank" class="location-modal__link">
                        181 E 73rd St, New York, NY 10021,
                    </a>
                </li>
                <li class="location-modal__item">
                    <p class="location-modal__contacts">Contats</p>
                </li>
                <li class="location-modal__item">
                        <address class="contacts__wrapper location-modal__info">
                            <a class="contacts__link position__contact position__contact" href="tel:+610-383-766-284"> +61(0) 383 766 284 </a>
                            <a class="contacts__link position__contact position__contact" target="blank" href="mailito:noreply@envato.com"> noreply@envato.com</a>
                        </address>
                </li>
            </ul>
        </div>
        <h2 class="location-modal__name-second">Food truck</h2>
        <div class="location-modal__content">
            <p class="city">Los Angeles</p>
            <ul class="location-modal__list">
                <li class="location-modal__item">
                    <a href="https://goo.su/9m6m" target="blank" class="location-modal__link">
                        1985-1995 W Adams Blvd, Los Angeles, CA 90018,
                    </a>
                </li>
                <li class="location-modal__item position">
                    <p class="location-modal__contacts">Contats</p>
                </li>
                <li class="location-modal__item">
                    <address class="contacts__wrapper location-modal__info">
                        <a class="contacts__link position__contact" href="tel:+610-383-766-284"> +61(0) 383 766 284 </a>
                        <a class="contacts__link  position__contact position__contact" target="blank" href="mailito:noreply@envato.com"> noreply@envato.com</a>
                    </address>
                </li>
            </ul>
        </div>
        <button class="location-modal__close" location-close-button>
            <svg class="location-modal__icon">
                <use href="./images/sprite.svg#icon-close"></use>
            </svg>
        </button>
    </div>
</div>