<div data-location id="location" class="location-modal">
    <div class="location-modal__container">
        <h1 class="location-modal__title">Our locations</h1>
        <h2>Cafe</h2>
        <div>
            <p>Chicago</p>
            <ul class="location-modal__list">
                <li class="location-modal__item">
                    <a href="https://www.google.com.ua/maps/@41.8784684,-87.6284792,18.85z?hl=ru" class="location-modal__link">
                        230 S State St, Chicago, IL 60604,
                    </a>
                </li>
                <li class="location-modal__item">
                    <p class="location-modal__contacts">Contats</p>
                </li>
                <li class="location-modal__item">
                    <a href="+610383766284" class="location-modal__info">
                        +61(0) 383 766 284
                    </a>
                </li>
                <li>
                    <a href="noreply@envato.com" class="location-modal__info">
                        noreply@envato.com
                    </a>
                </li>
            </ul>
        </div>
        <div>
            <p>New York</p>
            <ul class="location-modal__list">
                <li class="location-modal__item">
                    <a href="https://inlnk.ru/8429o" class="location-modal__link">
                        181 E 73rd St, New York, NY 10021,
                    </a>
                </li>
                <li class="location-modal__item">
                    <p class="location-modal__contacts">Contats</p>
                </li>
                <li class="location-modal__item">
                    <a href="+610383766284" class="location-modal__info">
                        +61(0) 383 766 284
                    </a>
                </li>
                <li>
                    <a href="noreply@envato.com" class="location-modal__info">
                        noreply@envato.com
                    </a>
                </li>
            </ul>
        </div>
        <h2>Food truck</h2>
        <div>
            <p>Los Angeles</p>
            <ul class="location-modal__list">
                <li class="location-modal__item">
                    <a href="https://goo.su/9m6m" class="location-modal__link">
                        1985-1995 W Adams Blvd, Los Angeles, CA 90018,
                    </a>
                </li>
                <li class="location-modal__item">
                    <p class="location-modal__contacts">Contats</p>
                </li>
                <li class="location-modal__item">
                    <a href="+610383766284" class="location-modal__info">
                        +61(0) 383 766 284
                    </a>
                </li>
                <li>
                    <a href="noreply@envato.com" class="location-modal__info">
                        noreply@envato.com
                    </a>
                </li>
            </ul>
        </div>
        <a href="#" class="location-modal__close" data-close-button>
            <svg class="location-modal__icon" viewBox="0 0 24 24">
                <path
                    d="M19 6.41l-1.41-1.41-5.59 5.59-5.59-5.59-1.41 1.41 5.59 5.59-5.59 5.59 1.41 1.41 5.59-5.59 5.59 5.59 1.41-1.41-5.59-5.59z" />
                <path d="M0 0h24v24h-24z" fill="none" />
            </svg>
        </a>
    </div>
</div>