<div data-menu id="menu-container" class="mobile-nav">
  <div class="mobile-nav__window">      
    <button data-modal-open2 type="button" class="mobile-nav__btn-buy"> 
            Buy now
            <svg class="btn__icon-header" width="8" height="10">
              <use href="./images/sprite.svg#icon-arrow"></use>
            </svg>
                  
    </button>
    <ul class="mobile-nav__list">
      <li class="mobile-nav__item">
        <a href="" class="mobile-nav__link">Home</a> 
      </li>
      <li class="mobile-nav__item" ><a href="#about" class="mobile-nav__link" onclick="document.getElementById('menu-container').classList.toggle('is-open');">About us</a></li>
      <li class="mobile-nav__item"><a href="#made" class="mobile-nav__link" onclick="document.getElementById('menu-container').classList.toggle('is-open');">How it’s made?</a></li>
      <li class="mobile-nav__item"><a href="#products" class="mobile-nav__link" onclick="document.getElementById('menu-container').classList.toggle('is-open');">Our products</a></li>
      <li class="mobile-nav__item"><a href="#contacts" class="mobile-nav__link" onclick="document.getElementById('menu-container').classList.toggle('is-open');">Contact</a></li>
    </ul>
    </div>
  </div>