<section id="products" class="section-products">
  <div class="products__container container">
    <label class="products__label pretitle">100% natural</label>
    <h2 class="products__title title">products</h2>
    <ul class="products__card">
      <li class="products__item products__item--pink">
        <h3 class="products__name products__name--pink">ice cream</h3>
        <p class="products__description">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
          ut labore et. dolore magna aliqua facilisis.
        </p>
               <!-- product detals -->
<div class="products__backdrop hiddenp" data-modal-pp>
<div  class="products-detals__container--pink "  title="click to close"  data-modal-close-pp   >
  <p class="products-detals__text">Lorem Lorem ipsum dolor, sit amet consectetur adipisicing elit. Odio ex debitis est, nostrum tempore expedita ut qui iure molestias quos? ipsum dolor sit amet consectetur adipisicing elit. Numquam iste deleniti tempora nam eum molestias temporibus et a sint quas quam iusto voluptas ipsam, nihil vero.</p>
</div>
</div>
<!-- prod det -->
        <button class="products-button" type="button" data-modal-open-pp>
          <svg class="products-button__img">
            <use href="./images/sprite.svg#icon-arrow-right"></use>
          </svg>
        </button>
      </li>
      <li class="products__item products__item--cream">
        <h3 class="products__name products__name--cream">ice coffee</h3>
        <p class="products__description">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
          ut labore et. dolore magna aliqua facilisis.
        </p>
        <!-- product detals -->
<div class="products__backdrop hiddenc" data-modal-pc>
<div  class="products-detals__container--cream "  title="click to close"  data-modal-close-pc   >
  <p class="products-detals__text">Lorem Lorem ipsum dolor, sit amet consectetur adipisicing elit. Odio ex debitis est, nostrum tempore expedita ut qui iure molestias quos? ipsum dolor sit amet consectetur adipisicing elit. Numquam iste deleniti tempora nam eum molestias temporibus et a sint quas quam iusto voluptas ipsam, nihil vero.</p>
</div>
</div>
<!-- prod det -->
        <button class="products-button" type="button" data-modal-open-pc>
          <svg class="products-button__img">
            <use href="./images/sprite.svg#icon-arrow-right"></use>
          </svg>
        </button></li>
      <li class="products__item products__item--green">
        <h3 class="products__name products__name--green">milkshakes</h3>
        <p class="products__description">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
          ut labore et. dolore magna aliqua facilisis.
        </p>

<!-- product detals -->
<div class="products__backdrop hiddeng" data-modal-pg>
<div  class="products-detals__container--gren " title="click to close"    data-modal-close-pg   >
  <p class="products-detals__text">Lorem Lorem ipsum dolor, sit amet consectetur adipisicing elit. Odio ex debitis est, nostrum tempore expedita ut qui iure molestias quos? ipsum dolor sit amet consectetur adipisicing elit. Numquam iste deleniti tempora nam eum molestias temporibus et a sint quas quam iusto voluptas ipsam, nihil vero.</p>
</div>
</div>
<!-- prod det -->
 <button class="products-button" type="button" data-modal-open-pg>
          <svg class="products-button__img">
            <use href="./images/sprite.svg#icon-arrow-right"></use>
          </svg></button></li>
  </ul>

  </section>
