<section>
  <div class="products__container container">
    <label class="products__pretitle pretitle">100% natural</label>
    <h2 class="title">products</h2>
    <div class="products__card">
      <div class="products__item products__item--pink">
        <h3 class="products__title">ice cream</h3>
        <p class="products__description">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
          ut labore et. dolore magna aliqua facilisis.
        </p>
      </div>
      <div class="products__item products__item--cream">
        <h3 class="products__title">ice coffee</h3>
        <p class="products__description">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
          ut labore et. dolore magna aliqua facilisis.
        </p>
      </div>
      <div class="products__item products__item--green">
        <h3 class="products__title">milkshakes</h3>
        <p class="products__description">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
          ut labore et. dolore magna aliqua facilisis.
        </p>
      </div>
    </div>
  </div>
</section>
