<section class="reviews">
    <div class="reviews__container container slider-wrap">
        <h2 class="reviews__title title visually-hidden">Customer reviews</h2>

        <ul class="reviews_list slider-list">
            <li class="reviews__item slider-list__item">
                <article class="reviews__customer">
                    <h3 class="reviews__title visually-hidden">Customer review #1</h3>
                    <img class="reviews__image"
                    srcset="images/reviews/testimonials1.png 1x, images/reviews/testimonials1@2x.png 2x"
                    src="images/reviews/testimonials1.png"
                    alt="Customer#1">
                    <div class="review__test--background">
                        <p class = "reviews__text--underline">Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.</p>
                    </div>
                    <div class="dots"></div>
                    <p class="reviews__author">Emily, Los Angeles</p>
                </article>
            </li>
            <li class="reviews__item slider-list__item">
                <article class="reviews__customer">
                    <h3 class="reviews__title visually-hidden">Customer review #2</h3>
                    <img class="reviews__image"
                    srcset="images/reviews/testimonials2.png 1x, images/reviews/testimonials2@2x.png 2x"
                    src="images/reviews/testimonials2.png"
                    alt="Customer#2">
                    <div class="review__test--background">
                        <p class = "reviews__text--underline">Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.</p>
                    </div>
                    <div class="dots"></div>
                    <p class="reviews__author">Marta, Bali</p>
                </article>
            </li>
            <li class="reviews__item slider-list__item">
                <article class="reviews__customer">
                    <h3 class="reviews__title visually-hidden">Customer review #3</h3>
                    <img class="reviews__image"
                    srcset="images/reviews/testimonials3.png 1x, images/reviews/testimonials3@2x.png 2x"
                    src="images/reviews/testimonials3.png"
                    alt="Customer#3">
                    <div class="review__test--background">
                        <p class = "reviews__text--underline">Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.</p>
                    </div>
                    <div class="dots"></div>
                    <p class="reviews__author">Jessica, Toronto</p>
                </article>
            </li>
        </ul>
        <div class="slider-dots__wrap"></div>
    </div>
</section>

