<section class="reviews">
    <div class="container">
        <h2 class="reviews__title title visually-hidden">Customer reviews</h2>
        <div class="owl-carousel block-items">
            <div class="item">
                <div class="inner-testimonial">
                    <img class="inner-testimonial__image" src="images/reviews/testimonials1.png" class="animated bounceIn full-opacity" alt="Customer review">
                    <p class="text-testimonial">Nullam viverra consectetuer.
                        Quisque cursus et, porttitor risus. Aliquam sem. In hendrerit nulla quam nunc, accumsan congue.
                        Lorem ipsum primis in nibh vel risus.</p>
                    <h3 class="city-name">Emily, Los Angeles</h3>
                </div>
            </div>
            <div class="item">
                <div class="inner-testimonial">
                    <img class="inner-testimonial__image" src="images/reviews/testimonials2.png" alt="Customer review">
                    <p class="text-testimonial">Nullam viverra consectetuer.
                        Quisque cursus et, porttitor risus. Aliquam sem. In hendrerit nulla quam nunc, accumsan congue.
                        Lorem ipsum primis in nibh vel risus</p>
                    <h3 class="city-name">Marta, Bali.</h3>
                </div>
            </div>
            <div class="item">
                <div class="inner-testimonial">
                    <img class="inner-testimonial__image" src="images/reviews/testimonials3.png" alt="Customer review">
                    <p class="text-testimonial">Nullam viverra consectetuer.
                        Quisque cursus et, porttitor risus. Aliquam sem. In hendrerit nulla quam nunc, accumsan congue.
                        Lorem ipsum primis in nibh vel risus</p>
                    <h3 class="city-name">Jessica, Toronto</h3>
                </div>
            </div>
        </div>
    </div>
</section>


