<section class="reviews">
    <div class="container">
        <h2 class="reviews__title title visually-hidden">Customer reviews</h2>
        <div class="reviews__spinner">
            <div>
                <img>
            </div>
            <p class="reviews__text">Nullam viverra consectetuer.
                    Quisque cursus et, porttitor risus. Aliquam sem. In hendrerit nulla quam nunc, accumsan congue. 
                    Lorem ipsum primis in nibh vel risus.
            </p>
            <p class="reviews__name">Emily, Los Angeles</p>
        </div>
    </div>
</section>