.modal__backdrop {
  z-index: 20;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.2);
  visibility: visible;
  overflow-y: scroll;

  transition: visibility $transition;

  &.is-hidden {
    transition: visibility $transition;
    visibility: hidden;
    pointer-events: none;
  }
}

.modal__window {
  position: absolute;
  background: #ecebeb;
  top: 50%;
  left: 50%;
  padding: 40px;
  transform: translate(-50%, -50%) scale(1);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;

  transition: transform $transition;
  max-width: 450px;
  width: 100%;
  height: 570px;

  .is-hidden & {
    transition: transform $transition;
    transform: scale(0);
    transform: rotate(0.5turn);
  }

  .modal__backdrop & .modal-img {
    margin-left: auto;
    margin-right: auto;
  }
}

.modal_header {
  @include font(18px, 600, 1.25);
  color: var(--accent-color);
  padding-bottom: 30px;
  text-align: center;
}

.modal__form {
  display: block;
}

.modal__label {
  display: block;
  @include font(10px, 400, 1.25);
  color: var(--accent-color);

  &:not(:last-child) {
    margin-bottom: 10px;
  }
}

.modal__inp {
  display: block;
  height: 40px;
  width: 100%;
  margin-top: 4px;
  padding-left: 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;

  transition: border $transition;

  .modal__label:focus-within &,
  &:not(:placeholder-shown) {
    outline: none;
    border: 1px solid var(--accent-color);
  }
}

.modal__input-cont {
  position: relative;
  display: block;
}

.modal__svg-cont {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
}

.modal__svg {
  fill: #212121;
  width: 18px;
  height: 18px;

  transition: fill $transition;

  .modal__label:focus-within & {
    fill: var(--accent-color);
  }
}

.modal__checkbox {
  display: block;
  margin-bottom: 30px;
  position: relative;
  left: 13px;
  top: 0;
  padding-left: 26px;
  @include font(18px, 400, 1.25);
  color: var(--accent-color);

  &:hover {
    cursor: pointer;
  }
}

.modal__checkbox--hidden {
  /* -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;

  position: absolute; */

  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.modal__checkbox-icon {
  position: absolute;
  display: block;
  width: 16px;
  height: 15px;
  left: 0;
  top: 4px;
  border: 2px solid #212121;
  border-radius: 2px;

  transition: transform $transition;

  .modal__checkbox--hidden:checked + & {
    border-color: transparent;
    transform: scale(1);
    background: var(--accent-color);
    background-image: url('../images/hero/check-svg.svg');
    background-origin: border-box;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
  }

  .modal__checkbox--hidden:focus + & {
    border-color: var(--accent-color);
  }
}

.mobile-nav__btn-buy--red {
  background-color: var(--accent-color);
  color: var(--bg-color-white);

  &:hover,
  &:focus {
    background-color: var(--accent-color);
  }
}

.modal__btn-close {
  position: absolute;
  z-index: 20;
  top: 20px;
  right: 20px;
  &:hover {
    cursor: pointer;
  }

  & .mobile-nav__close-icon {
    opacity: 1;
    &::after,
    &::before {
      background-color: var(--accent-color);
    }
  }

  &:hover .mobile-nav__close-icon,
  &:focus .mobile-nav__close-icon {
    &::after,
    &::before {
      background-color: rgb(243, 128, 128);
    }
  }
}
