.mobile-nav {
  position: absolute;
  top: 0;
  left: 0;
  transform: translateX(100vw);
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  width: 480px;
  max-width: 100%;
  height: 100vh;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  padding-top: 60px;

  overflow-y: scroll;
  background-color: #e17992;
  transition: opacity $transition;
  transition: transform $transition;

  &.is-open {
    transform: translateX(0);
    opacity: 1;
    visibility: visible;
    pointer-events: initial;
  }
}

.mobile-nav__btn-buy {
  width: 186px;
  height: 44px;
  margin: 0 auto 19px auto;
  border-radius: 22px;
  background-color: var(--bg-color-white);
  color: var(--accent-color);
  @include font(16, 600, 1.31);

  transition: background-color $transition;
  &:hover,
  &:focus {
    background-color: #ecebeb;
    cursor: pointer;
  }
}

.mobile-nav__close-btn {
  position: absolute;
  right: 34px;
  top: 23px;
  width: 20px;
  &:hover {
    cursor: pointer;
  }
}

.mobile-nav__close-icon {
  width: 20px;

  &:before,
  &:after {
    position: absolute;
    left: 15px;
    content: ' ';
    height: 20px;
    width: 2px;
    background-color: var(--bg-color-white);
  }
  &:before {
    transform: rotate(45deg);
  }
  &:after {
    transform: rotate(-45deg);
  }
}

.mobile-nav__menu-btn {
  position: absolute;
  right: 320px;
  top: 320px;
  width: 20px;
  height: 2px;
  background-color: var(--accent-color);
  &:hover {
  }

  &:before,
  &:after {
    position: absolute;
    content: ' ';
    height: 2px;
    width: 20px;
    background-color: var(--accent-color);
  }
  &:before {
    bottom: 6px;
  }
  &:after {
    top: 6px;
  }
}

.mobile-nav__list {
  display: block;
  width: 100%;
}

.mobile-nav__item {
  padding: 13px 0 13px 21px;
  border-top: 1px solid #e18298;
  &:last-child {
    border-bottom: 1px solid #e18298;
  }
}

.mobile-nav__link {
  color: var(--bg-color-white);
  @include font(14, 600, 1.29);

  &.mobile-nav__link--red {
    color: var(--accent-color);
  }
}
