.mobile-nav {
  position: absolute;
  z-index: 10;
  top: 0;
  left: 0;
  transform: translateX(100vw);
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  width: 480px;
  max-width: 100%;
  height: 100vh;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  padding-top: 60px;

  overflow-y: scroll;
  background-color: #e17992;
  transition: opacity $transition;
  transition: transform $transition;

  &.is-open {
    transform: translateX(0);
    opacity: 1;
    visibility: visible;
    pointer-events: initial;
  }
}

.mobile-nav__btn-buy {
  width: 186px;
  height: 44px;
  margin: 0 auto 19px auto;
  border-radius: 22px;
  
  
  @include font(16px, 600, 1.31);

  transition: background-color $transition;
  &:hover,
  &:focus {
    background-color: #ecebeb;
    cursor: pointer;
  }
}

.mobile-nav__btn-link {
  color: var(--accent-color);
}

.header__menu-btn-cont {
  position: relative;
  max-width: 480px;
  z-index: 11;
}

.mobile-nav__menu-btn {
  position: absolute;
  z-index: 20;
  right: 0;
  top: 21px;
  background: #ffb8ca;
  &:hover {
    cursor: pointer;
  }
}


.mobile-nav__menu-icon {
  position: absolute;
  top: 9px;
  right: 0;
  width: 20px;
  height: 2px;
  background-color: var(--accent-color);
  transition: opacity $transition;

  &:before,
  &:after {
    position: absolute;
    right: 0;
    content: ' ';
    height: 2px;
    width: 20px;
    background-color: var(--accent-color);
  }
  &:before {
    bottom: 6px;
  }
  &:after {
    top: 6px;
  }

  .header__menu-btn-cont.wind-open & {
    opacity: 0;
  }
}

.mobile-nav__close-icon {
  position: absolute;
  top: 0;
  right: 6px;
  width: 20px;
  opacity: 0;
  transition: opacity $transition;

  &:before,
  &:after {
    position: absolute;
    left: 15px;
    content: ' ';
    height: 20px;
    width: 2px;
    background-color: var(--bg-color-white);
  }
  &:before {
    transform: rotate(45deg);
  }
  &:after {
    transform: rotate(-45deg);
  }

  .header__menu-btn-cont.wind-open & {
    opacity: 1;
  }
}

.mobile-nav__list {
  display: block;
  width: 100%;
}

.mobile-nav__item {
  padding: 13px 0 13px 21px;
  border-top: 1px solid #e18298;
  &:last-child {
    border-bottom: 1px solid #e18298;
  }
}

.mobile-nav__link {
  color: var(--bg-color-white);
  @include font(14px, 600, 1.29);

  &.mobile-nav__link--red {
    color: var(--accent-color);
  }
}



.modal__window {
   
}



.modal__form {
  display: block;
}

.modal__label {
  display: block;
  @include font(10px, 400, 1.25);
  color: var(--accent-color);

  &:not(:last-child) {
    margin-bottom: 10px;
  }
}


.modal__inp {
  display: block;
  height: 40px;
  width: 100%;
  margin-top: 4px;
  padding-left: 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  
  transition: border $transition;

  .modal__label:focus-within &,
  &:not(:placeholder-shown) {
    outline: none;
    border: 1px solid var(--accent-color);
  }
}

.modal__input-cont {
  position: relative;
  display: block;
}

.modal__svg-cont {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
}

.modal__svg {
  fill: #212121;
  width: 18px;
  height: 18px;
  

  transition: fill $transition;

  .modal__label:focus-within & {
    fill: var(--accent-color);
  }
}






.modal__checkbox {
  display: block;
  margin-bottom: 30px;
  position: relative;
  left: 13px;
  top: 0;
  padding-left: 26px;
  @include font(18px, 400, 1.25);
  color: var(--accent-color);

  &:hover {
    cursor: pointer;
  }
}

.modal__checkbox--hidden {
  /* -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;

  position: absolute; */

  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.modal__checkbox-icon {
  position: absolute;
  display: block;
  width: 16px;
  height: 15px;
  left: 0;
  top: 4px;
  border: 2px solid #212121;
  border-radius: 2px;
  
  transition: transform $transition;

  .modal__checkbox--hidden:checked + & {
    border-color: transparent;
    transform: scale(1);
    background: var(--accent-color);
    background-image: url('../images/hero/check-svg.svg');
    background-origin: border-box;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
  }

  .modal__checkbox--hidden:focus + & {
    border-color: var(--accent-color);
  }
}



.mobile-nav__btn-buy--red {
  background-color: var(--accent-color);
  color: var(--bg-color-white);

  &:hover,
  &:focus {
    background-color: var(--accent-color);
  }
}
