.pretitle {
  @include font(18px, 400, 1.17);

  font-family: var(--second-font);
  text-transform: uppercase;

  color: var(--second-color);

  @media screen and (min-width: 768px) {
    @include font(26px, 400, 1.15);
  }

  @media screen and (min-width: 1200px) {
    @include font(30px, 400, 1.06);
  }
}
