.about {
  background-color: var(--bg-color-pink);
  //position: relative;
}

.about__container {
  @media screen and (min-width: 320px) and (max-width: 767px) {
    background-image: url('../images/about/aboutbg.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 50% 80%;
    @media screen and (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url('../images/about/aboutbg@2.png');
    }
  }

  @media screen and (min-width: 1200px) {
    background-image: url('../images/about/about1200.png');
    max-width: 1600px;
    @media screen and (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url('../images/about/about1200@2.png');
    }
  }
}

.about__pretitle {
  margin-bottom: 15px;
  text-align: center;
}

.wrapper__content {
  @media screen and (min-width: 767px) {
    display: flex;
  }
}

.wrapper__images {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 46px;
  @media screen and (min-width: 767px) {
    flex: 0 0 340px;
  }
}

.about__title {
  margin-bottom: 26px;
  text-align: center;
}

.about__thumb__text {
  padding: 0 30px;
  @media screen and (min-width: 767px) {
    flex: 1 1 auto;
  }
}

.about__text {
  margin-bottom: 47px;

  line-height: 1.62;
}

.about__text__grey {
  color: var(--second-color-text);
}

.about__btn {
  padding: 0 37px;
  height: 44px;

  border-radius: var(--border-radius);

  color: var(--accent-color);
  background-color: var(--bg-color-white);
  @include font(14px, 700, 1.3);

  &:hover,
  &:focus {
    background-color: #ecebeb;
  }
}

.btn__text {
  margin-right: 17px;
}
