.advantages {
  padding-top: 39px;
  padding-bottom: 97px;
  background-color: var(--bg-color-pink);

  @media screen and (min-width: 768px) {
    padding-top: 66px;
    padding-bottom: 140px;
  }

  @media screen and (min-width: 1200px) {
    padding-top: 39px;
    padding-bottom: 130px;
  }
}

.advantages-list {
  display: flex;
  flex-direction: column;

  @media screen and (min-width: 768px) {
    flex-direction: row;
  }

  @media screen and (min-width: 1200px) {
  }
}

.advantages-list__item {
  @media screen and (max-width: 767px) {
    &:not(:last-child) {
      margin-bottom: 38px;
    }
  }

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    &:not(:last-child) {
      margin-right: 60px;
    }
  }

  @media screen and (min-width: 1200px) {
    &:not(:last-child) {
      margin-right: 30px;
    }
  }
}

// .advantages-list__description::before {
//   margin-bottom: 16px;

//   @media screen and (min-width: 768px) {
//     margin-top: 36px;
//   }

//   @media screen and (min-width: 1200px) {
//     margin-top: 40px;
//   }
// }

.advantages__title.advantages__title--icon-first:before {
  content: '';
  display: block;
  margin-bottom: 16px;
  width: 33px;
  height: 50px;
  background-image: url('../images/advantages/icon-1.png');
  background-repeat: no-repeat;
  background-size: cover;

  @media screen and (min-width: 768px) {
    margin-bottom: 36px;
  }

  @media screen and (min-width: 1200px) {
    margin-bottom: 40px;
  }
}

.advantages__title.advantages__title--icon-second:before {
  content: '';
  display: block;
  margin-bottom: 16px;
  width: 50px;
  height: 50px;
  background-image: url('../images/advantages/icon-2.png');
  background-repeat: no-repeat;
  background-size: cover;

  @media screen and (min-width: 768px) {
    margin-bottom: 36px;
  }

  @media screen and (min-width: 1200px) {
    margin-bottom: 40px;
  }
}
.advantages__title.advantages__title--icon-third:before {
  content: '';
  display: block;
  margin-bottom: 16px;
  width: 44px;
  height: 50px;
  background-image: url('../images/advantages/icon-3.png');
  background-repeat: no-repeat;
  background-size: cover;

  @media screen and (min-width: 768px) {
    margin-bottom: 36px;
  }

  @media screen and (min-width: 1200px) {
    margin-bottom: 40px;
  }
}

.advantages__title {
  font-family: var(--second-font);
  font-size: 36px;
  line-height: 1.14;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: var(--accent-color);
  margin-bottom: 13px;

  @media screen and (min-width: 768px) {
    font-size: 48px;
    line-height: 1.15;
  }

  @media screen and (min-width: 1200px) {
    font-size: 58px;
    line-height: 1.14;
    margin-bottom: 15px;
  }
}
.advantages__text {
  max-width: 230;
  font-weight: 700;
  font-size: 12px;
  line-height: 1.7;
  color: var(--first-color-text);

  @media screen and (min-width: 768px) {
    font-size: 14px;
    line-height: 1.74;
  }

  @media screen and (min-width: 1200px) {
    font-size: 16px;
    line-height: 1.76;
  }
}
