.products__container {
}
.products__label {display: block;
 text-align: center;
}
.products__title{
  text-align: center;
}

.products__card {
}

.products__item {
  width: 280px;
  height: 485px;
  border-radius: 24px;
  padding-top: 161px;
   text-align: center;


}
.products__item--pink{
background: var(--color-pink);
}
.products__item--cream{
background: var(--color-cream);
}
.products__item--green{
background: var(--color-light-green);
}

.products__name {margin-bottom: 66px;
  align-content: center;
  text-align: center;
}
.products__name--pink{
// &::before{
//     content: '';
//    display: block;
//     width: 249px;
//     height: 252px;
//     border-radius: 2px;
//     background-image: url("/src/images/prod/prodm1.png");
// }
}
.products__name--cream{

}
.products__name--green{

}
.products__description {
}