.reviews {
  padding-bottom: 86px;
}

.reviews__image {
  display: inline-block;

  margin: 0 auto;

  margin-bottom: 29px;

  width: 85px;
  height: 85px;
}
.reviews_list {
}

.reviews__item {
  position: relative;
  text-align: center;
}

.reviews__text--underline {
  width: 100%;
  z-index: 1;
  position: relative;
  @include font(12px, 500, 2.5);
  background-image: repeating-linear-gradient(
    to bottom,
    hsla(0, 0%, 98%, 0.1),
    hsla(0, 0%, 98%, 0.1) 29px,
    hsla(0, 0%, 88.2%, 0.5) 20px,
    hsla(0, 0%, 88.2%, 0.5) 30px
  );

  &::before {
    content: ' ';
    z-index: -1;
    display: block;
    position: absolute;
    top: -13px;
    width: 54px;
    height: 40px;
    background-image: url(/images/reviews/quote.png);

    @media screen and (min-width: 768px) {
      left: -27px;
    }
  }

  @media screen and (max-width: 767px) {
    width: 157px;
  }
  @media screen and (min-width: 768px) {
    width: 460px;
    @include font(14px, 500, 2.2);
  }
  @media screen and (min-width: 1200px) {
    width: 750px;
    @include font(16px, 500, 1.87);
  }
}
.review__test--background {
  width: 100%;
  display: flex;
  position: relative;
  background-color: #fafafa;
  justify-content: center;
  text-align: center;
  margin-bottom: 30px;
  padding-top: 45px;
  padding-bottom: 25px;

  @media screen and (min-width: 768px) and (max-width: 1279px) {
    margin-bottom: 25px;
    padding-bottom: 35px;
  }
  @media screen and (min-width: 1280px) {
    margin-bottom: 15px;
    padding-bottom: 40px;
  }
}
.dots,
.dots:before,
.dots:after {
  width: 4px;
  height: 4px;
  background: #c7133e;
  border-radius: 50%;
}
.dots {
  margin: 0 auto;
  position: relative;
  display: inline-block;
  margin-bottom: 18px;
}

.dots:before {
  content: '';
  position: absolute;
  left: -10px;
}

.dots:after {
  content: '';
  position: absolute;
  right: -10px;
}

.reviews__name {
  display: inline-block;
  @include font(14px, 500, 1.8);
  text-align: center;
}

.reviews__author {
  margin-bottom: 35px;
  text-align: center;

  @include font(14px, 500, 1.8);

  @media screen and (min-width: 768px) {
    @include font(16px, 500, 1.8);
  }
  @media screen and (min-width: 1200px) {
    @include font(20px, 500, 1.8);
  }
}

.reviews__author {
  margin-bottom: 35px;
}

// .slider-dots__wrap {
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   cursor: pointer;
//   width: 100%;
// }

// .slider__dots {
//   display: flex;
// }

// .slider__dots > li {
//   border-radius: 50%;
//   background-color: #d9d9d9;

//   width: 12px;
//   height: 12px;

//   &:not(:last-child) {
//     margin-right: 18px;
//   }
// }

// .slider__dots .slick-active button::after {
//   background-color: green;
// }

// .slider__dots button {

//   cursor: pointer;
//   font-size: 0;
// }
/*. slick-active {
  width: 12px;
  height: 12px;
  background: transparent;
  border-style: none;
  border-radius: 0;
  background-image: url(/images/reviews/home.svg);
}
 */

.slider-dots__wrap {
  list-style: none;
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
}
.slider__dots {
  display: flex;
  list-style: none;
  @media screen and (min-width: 1200px) {
    margin-left: -45px;
  }
}

.slider__dots li {
  &:not(:last-child) {
    margin-right: 18px;
  }
}

.slider__dots li button {
  cursor: pointer;
  font-size: 0px;
  background-color: unset;
  border: none;
}
.slider__dots li button::after {
  content: '';
  display: block;
  width: 14px;
  height: 14px;
  background-color: #e1e1e1;
  border-radius: 50%;
}
.slider__dots .slick-active button::after {
  background-image: url('../images/reviews/home.svg');
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 0;
  background-color: transparent;
  width: 16px;
  height: 14px;
}
.slider__dots li button::after {
  content: '';
  display: block;
  width: 12px;
  height: 12px;
}
